<!-- ãƒ—ãƒ¬ã‚¤ãƒªã‚¹ãƒˆã‚»ã‚¯ã‚·ãƒ§ãƒ³ -->
<div>
  <div class="flex items-center justify-between mb-4 pb-2">
    <!-- è¦‹å‡ºã—éƒ¨åˆ†ã«ä¸‹ç·šã‚’è¿½åŠ  -->
    <h2 class="text-lg font-bold text-gray-800">
      <%= link_to 'ãƒ—ãƒ¬ã‚¤ãƒªã‚¹ãƒˆ', search_playlist_path, class: "text-purple-800 hover:underline text-xl pl-3" %>
    </h2>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-6">
    <% @playlists.each do |playlist| %>
    <div class="rounded-lg p-2 relative group">
      <%= link_to playlist_path(playlist), class: "block relative" do %>
      <%= render "shared/playlist_card", playlist: playlist %>
      <% end %>
      <!-- ã‚¿ã‚¤ãƒˆãƒ«ã¨ãƒãƒ¼ãƒˆã‚¢ã‚¤ã‚³ãƒ³ -->
      <div class="flex items-center justify-between mt-2">
        <!-- ã‚¿ã‚¤ãƒˆãƒ« -->
        <p class="text-md font-bold truncate text-black">
          <%= truncate(playlist.title, length: 10, omission: '...') %>
        </p>

        <!-- Xãƒœã‚¿ãƒ³ã¨ã„ã„ã­ãƒœã‚¿ãƒ³ -->
        <div class="flex items-center space-x-1">
          <!-- Xå…±æœ‰ãƒœã‚¿ãƒ³ -->
          <div class="shrink-0">
            <%= link_to "https://twitter.com/share?text=#{CGI.escape("ðŸ“º Twitch: https://clips.twitch.tv/#{playlist&.clips&.first&.clip_id}\n#ï¸âƒ£ ãƒãƒƒã‚·ãƒ¥ã‚¿ã‚°: #TwitchClipFinder\n")}&url=#{CGI.escape(playlist_url(playlist))}", target: "_blank", rel: "noopener noreferrer", title: "Xã§ã‚·ã‚§ã‚¢ã™ã‚‹" do %>
            <i class="fa-brands fa-twitch mr-1"></i>
            <% end %>
          </div>

          <!-- ã„ã„ã­ãƒœã‚¿ãƒ³éƒ¨åˆ† -->
          <div class="shrink-0" id="playlist_<%= playlist.id %>_like">
            <%= render "playlists/like", playlist: playlist %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>