<!DOCTYPE html>
<html>

<head>
  <title><%= content_for(:title) || "Myapp" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <script src="https://kit.fontawesome.com/4025a67f93.js" crossorigin="anonymous"></script>
  <%= display_meta_tags(default_meta_tags) %>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">
  <!-- ナビゲーションヘッダー -->
  <header class="navbar bg-[#f7f7f8] text-black px-4 py-2 flex justify-between items-center fixed top-0 left-0 right-0 z-50 shadow">
    <!-- ロゴとリンク -->
    <div class="flex items-center space-x-4">
      <!-- ロゴ -->
      <div class="text-purple-500">
        <%= link_to root_path do %>
        <%= image_tag "Icon.png", alt: "ロゴ", class: "h-8 w-8" %>
        <% end %>
      </div>
    </div>

    <%= search_form_for @q, url: search_path do |f| %>
    <div class="flex items-center border border-gray-300 rounded-full shadow-sm bg-white px-4 py-2">
      <!-- 検索フィールド -->
      <div data-controller="autocomplete" data-autocomplete-url-value="/clips/search" role="combobox" class="flex-1 relative">
        <%= f.search_field :game_name_or_streamer_streamer_name_cont, data: { autocomplete_target: 'input' }, class: "w-full bg-transparent py-1 px-2 text-gray-700 placeholder-gray-400", placeholder: "検索" %>
        <ul class="list-group bg-white absolute w-full md:text-sm max-w-max border border-gray-300 rounded-md shadow-lg z-10 mt-1" data-autocomplete-target="results"></ul>
      </div>
      <!-- 検索アイコン -->
      <div class="ml-2">
        <button type="submit">
          <i class="fa-brands fa-searchengin"></i>
        </button>
      </div>
    </div>
    <% end %>

    <!-- ログイン -->
    <% if user_signed_in? %>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="avatar m-1">
        <div class="w-12 rounded-full">
          <%= image_tag(current_user.profile_image_url, alt: "プロフィール画像", class: "profile-image", width: "50", height: "50") if current_user.profile_image_url.present? %>
        </div>
      </div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
        <li><%= link_to 'プロフィール', playlists_path %></li>
        <li>
          <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white-500 no-button-style" %>
        </li>
      </ul>
    </div>
    <% else %>
    <%= button_to "ログイン", user_twitch_omniauth_authorize_path, data: { turbo: false }, class: "btn btn-secondary" %>
    <% end %>
  </header>

  <!-- フォローリストとメインコンテンツのレイアウト -->
  <div class="flex pt-16 min-h-screen">
    <!-- フォローリスト（サイドバー） -->
    <aside class="w-60 bg-gray-custom pt-2 fixed top-16 bottom-0 left-0 overflow-y-auto z-40 border border-gray-300 shadow-md">
      <h2 class="text-sm font-bold text-black mb-3">フォローしているチャンネル</h2>
      <% if current_user.present? %>
      <% if @followed_channels.present? %>
      <ul class="space-y-0">
        <% @followed_channels.each do |follow| %>
        <li class="flex items-center pt-2 hover:bg-gray-100 rounded cursor-pointer">
          <%= link_to search_path(q: follow['broadcaster_name']), class: "flex items-center space-x-1 w-full" do %>
          <!-- プロフィール画像 -->
          <img src="<%= follow['profile_image_url'] %>" alt="<%= follow['broadcaster_name'] %>" class="w-10 h-10 rounded-full object-cover">
          <!-- 名前 -->
          <div class="flex-1">
            <p class="text-gray-800 text-xs truncate"><%= follow['broadcaster_name'] %></p>
          </div>
          <% end %>
        </li>
        <% end %>
      </ul>
      <% else %>
      <p class="text-black">フォローリストがありません。</p>
      <% end %>
      <% else %>
      <div class="flex justify-center">
        <%= button_to "ログイン", user_twitch_omniauth_authorize_path, data: { turbo: false }, class: "btn btn-secondary" %>
      </div>
      <% end %>
    </aside>

    <!-- メインコンテンツ -->
    <main class="flex-1 ml-60 pt-6 p-1">
      <%= yield %>
      <!-- フラッシュメッセージ用のTurbo Frame -->
      <%= turbo_frame_tag "flash_messages" do %>
      <%= render "layouts/flash_messages" %>
      <% end %>
    </main>
  </div>

  <!-- フッター -->
  <footer class="bg-gray-800 text-white text-center p-4">
    <p>&copy; 2024 TODOアプリ. All Rights Reserved.</p>
  </footer>
</body>

</html>